<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Item Cart Disabler Settings</title>
        <title lang="de-DE">Item Cart Disabler Einstellungen</title>

        <input-field type="bool">
            <name>status</name>
            <label>Activate Plugin</label>
        </input-field>

        <input-field type="bool">
            <name>statusAll</name>
            <label>Disable all carts</label>
        </input-field>

        <input-field type="bool">
            <name>statusSpecific</name>
            <label>Disable specific carts</label>
        </input-field>

        <component name="sw-entity-multi-id-select">
            <name>exampleMultiProductIds</name>
            <entity>product</entity>
            <label>Choosse items to disable</label>
        </component>

        <component name="sw-snippet-field">
            <name>cartText</name>
            <label>Change cart button text</label>
            <snippet>itemCart.config.cartTextTranslation</snippet>
        </component>


        <component name="sw-colorpicker">
            <name>cartButtonColor</name>
            <label>Change cart button color 2nd Version (scss needs frontend recompile)</label>
            <css>cart-button-color</css>
            <defaultValue>#eee</defaultValue>
        </component>

        <component name="sw-colorpicker">
            <name>cartTextColor</name>
            <label>Change cart button text color 2nd Version (scss needs frontend recompile)</label>
            <css>cart-text-color</css>
            <defaultValue>#eee</defaultValue>
        </component>

        <input-field type="bool">
            <name>statusModal</name>
            <label>Enable modal for carts</label>
        </input-field>

        <component name="sw-snippet-field">
            <name>modalTitle</name>
            <label>Change modal title</label>
            <snippet>itemCart.config.modalTitleTranslation</snippet>
        </component>

        <component name="sw-snippet-field">
            <name>modelBody</name>
            <label>Change modal titel</label>
            <snippet>itemCart.config.modalBodyTranslation</snippet>
        </component>

        <component name="sw-snippet-field">
            <name>modalButton</name>
            <label>Change model button</label>
            <snippet>itemCart.config.modalButtonTranslation</snippet>
        </component>

        <component name="sw-colorpicker">
            <name>modalButtonColor</name>
            <label>Change modal button color 2nd Version (scss needs frontend recompile)</label>
            <css>modal-button-color</css>
            <defaultValue>#eee</defaultValue>
        </component>

        <component name="sw-colorpicker">
            <name>modalTextColor</name>
            <label>Change modal button text color 2nd Version (scss needs frontend recompile)</label>
            <css>modal-text-color</css>
            <defaultValue>#eee</defaultValue>
        </component>

        <input-field type="float">
            <name>weatherTemperature</name>
            <label>Change the Weather temperature</label>
        </input-field>

    </card>
</config>